/* Styling for the sidebar */

.sidebar {
	padding: 0 25px 20px 25px;
	border: 1px solid;
    border-color: #e5e5e5 #dbdbdb #d2d2d2;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.05),0 6px 10px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.05),0 6px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.05),0 6px 10px rgba(0,0,0,0.05);
    -o-box-shadow: 0 2px 3px rgba(0,0,0,0.05),0 6px 10px rgba(0,0,0,0.05);
}

.aboutblock {
    line-height: 1.5;
}

#block-homepagedescription h2 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 50px;
}

#block-views-block-tags-block-1 h2 {
    text-transform: lowercase;
    color: #ccc;
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 50px;
}

.tagtitle {
    font-size: 12px;
    text-transform: lowercase;
    text-align: center;
}

.tagstitle {
    margin: 0;
    border-bottom: 0px;
}

.tagsplace {
    margin-top: 12px;
}
