<footer role="contentinfo" class="container">
    <hr>
    <div class="row">
        <div class="col-md-6">{{ page.footer_first }}</div>
        <div class="col-md-6">{{ page.footer_second }}</div>
    </div>
</footer>