{% include directory ~ '/partials/header.html.twig' %}

<div class="jumbotron jumbotron-third">
</div>

<div class="container">

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    <div>
      <div class="col-md-8 col-md-offset-2">{{ page.about}}</div>
      <div class="col-md-12 col-md-offset-2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d97443.07122950099!2d24.093257333115282!3d67.56665677512893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x45d3beba1c016087%3A0x6c532e566de004d8!2sYll%C3%A4stunturi!5e0!3m2!1sen!2sfi!4v1469367594215" width="800" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>{# /.layout-content #}

  </main>
</div>{# /.container #}


{% include directory ~ '/partials/footer.html.twig' %}


 



</div>{# /.layout-container #}
